



.active{
	right: 0;
	transition: all 1s ease;
}
.Burger2 {
	position: relative;
	z-index: 1000;
}

.block{
	position: relative;
	z-index: 1000;
	
}
@media (min-width:1024px) {
	.Burger2   {
		display: none;
	}
}




