.wrapper {
	padding: 50px 0 100px;
	display: grid;
	justify-items: center;
	max-width: 1440px;
	position: relative;
}

.title {
	font-size: var(--title-fz);
	color: #000;
	text-align: center;
	width: 100%;
	padding: 50px 0;
	font-family: var(--title);
	font-weight: 400;

}


.image {
	object-fit: cover;
}

.wrapper::after {
	content: "";
	position: absolute;
	width: 100vw;
	top: 0;
	bottom: 0;
	background: url("./WorksBg.jpg");
	background-position: center;
	background-size: cover;
	z-index: -1;
	justify-self: center;
}
