.inputGroup {
	/* height: 50%; */
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 10px 0;
  }

  .container {
	max-width: 400px;
	height: 530px;
	position: relative;
  }
  /* .inputLabel {
	text-align: left;
  }
  .inputField {
	height: 30px;
	border: 1px solid #000;
  } */
.main input , .main select, .main textarea {
	border: 2px solid #5e9ca0; /* Add a border to the input field */
	padding: 8px; /* Add some padding to the input field */
	border-radius: 5px; /* Add rounded corners to the input field */
	box-shadow: 2px 2px 5px #888888; /* Add a subtle shadow to the input field */
	transition: all 0.3s ease-in-out; /* Add a transition effect when hovering over the input field */
	background: #F6F1ED;
	width: 280px;
}


.main input:focus{
	border-color: #3e8e41; /* Change the border color when the input field is in focus */
	outline: none; /* Remove the default outline */
	box-shadow: 2px 2px 5px #3e8e41; /* Change the shadow color when the input field is in focus */
}
.main select:focus{
	outline: none;
	border-color: #3e8e41;
	box-shadow: 2px 2px 5px #3e8e41;
}

.main textarea:focus {
	border-color: #3e8e41;
	outline: none;
}
.main textarea {
	resize: none;
}
.submit {
	cursor: pointer;
}
.submit:hover {
	background: #b7f5b9 ;
	
}

.errors{
	color: red;
	height: 24px;
}
.main label{
	font-size: 18px;
	font-weight: 500;
}

@media (max-width:1440px) {
	.main label{
		color: yellow;
	}
}
.catContainer{
	position: absolute;
	top: 0;
	left: 15%;
	opacity: 0;
	pointer-events: none;
	transition: all 2.5s ease-in-out;
}
.cat{
	
	width: 200px;
	height: 200px;
	background: url('./cat.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 50%;
	box-shadow: -1px 4px 53px 18px rgba(0,0,0,0.72);
-webkit-box-shadow: -1px 4px 53px 18px rgba(0,0,0,0.72);
-moz-box-shadow: -1px 4px 53px 18px rgba(0,0,0,0.72);
	filter: drop-shadow(0 0 50px rgb(27, 26, 27));
}
.visible{
	opacity: 1;
	transition: all 2.5s ease-in-out;
}

.thought {
	display:flex;
	background-color:#fff;
	padding:20px;
	border-radius:30px;
	min-width:40px;
	max-width:220px;
	min-height:40px;
	margin:20px;
	position:relative;
	align-items:center;
	justify-content:center;
	text-align:center;
	z-index: 2;
 }
 .thought:before,
 .thought:after {
	content:"";
	background-color:#fff;
	border-radius:50%;
	display:block;
	position:absolute;
	z-index:-1;
 }
 .thought:before {
	width:44px;
	height:44px;
	top:-12px;
	left:28px;
	box-shadow:-50px 30px 0 -12px #fff;
 }
 .thought:after {
	bottom:-10px;
	right:26px;
	width:30px;
	height:30px;
	box-shadow:40px -34px 0 0 #fff,
				  -28px -6px 0 -2px #fff,
				  -24px 17px 0 -6px #fff,
				  -5px 25px 0 -10px #fff;
	
 }