



.active{
	right: 0;
	transition: all 1s ease;
}
.Burger {
	position: relative;
	z-index: 1000;
	
}

.block{
	position: relative;
	z-index: 1000;
	
	
}
@media (min-width:1024px) {
	.Burger   {
		display: none;
	}
}

.iconBurger {
	
	
}




