



.active{
	right: 0;
	transition: all 1s ease;
}

.Burger {
	position: relative;
	z-index: 1000;
	
}

.block{
	cursor:pointer;
	
	
}

@media (min-width:1224px) {
	.Burger   {
		display: none;
	}
}

.iconBurger {
	
	
}




