.wrapper {
	font-size: 16px;
	display: grid;
	grid-template-columns: auto minmax(250px, 1440px) auto;
	padding: 0 15px;
	grid-template-areas: 
	". header ."
	". main ."
	" . footer . ";
	/* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}

.header{
	grid-area: header;
	padding-top:20px;
	
}
/* stylelint-disable-next-line rule-empty-line-before */
.main{
	padding: 0 10px;
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	grid-area: main;
}


.footer {
	grid-area: footer;
	z-index: 1;
 }
 
 
 
 