

.navWrapper{
	position: relative;
	right: -1000%;
	
	/* display: grid;
	grid-template-columns: auto 1fr;
	gap: 20px;
	cursor:pointer; */
}
.block > span{
	
	color: rgb(20, 44, 4);
	
}

.active{
	right: 0;
	transition: all 1s ease;
}

.nav{
	/* font-size: 20px; */
	font-size: calc( (100vw - 480px)/(1920 - 480) * (30 - 16) + 16px);
	font-weight: 500;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	color: var(--dark-green);
}

.nav li {
	display: inline-block;
}


@media (max-width:1024px) {
	.navWrapper   {
		display: none;
	}
}