.wrapper{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	scroll-behavior: smooth;
	justify-items: center;
}
@media (max-width:1024px) {
	.imges{
		grid-column: 1/3;
	}
	.text{
		grid-column: 1/3;
	}
}
#AboutMe {
	scroll-behavior: smooth;
}
.title {
	grid-column: 1/3;
	font-family: var(--title);
	text-align: center;
	
}

.img{
	max-width: 30px;
	border-radius: 10px;
}

