.container{
	width: 50vw;
	background: url('./whiteBG.jpg');
	background-position: center;
	background-size: cover;
	padding: 50px;
	border-radius: 10px;
	box-shadow: -1px 4px 56px 30px rgb(255 254 254 / 87%);
	position: relative;
	overflow: auto;
}

@media (max-width:1024px) {
	.container{
		width: 90vw;
		padding: 35px;
	}
}

.container h2 {
	font-size: var(--title-fz);
  color: #000;
  text-align: center;
  width: 100%;

  /* padding: 50px 0 50px 0; */
  padding: 10px 0;
  font-family: var(--title);
  font-weight: 400;
}

.container h3 {
	text-align: center;
	margin-bottom: 10px;
}

.list{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.subtext {
	font-style: italic;
	font-size: 18px;
	margin: 10px 0;
}





.imge {
	margin-top: 70px;
	width: 40px;
	animation-name: rotation;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: rotation;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: rotation;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	
}

@keyframes rotation {
	0% {
		 transform:rotate(0deg);
		 transform:rotate(0deg);
		 transform:rotate(0deg);}

	100% {
		 transform:rotate(360deg);
		 transform:rotate(360deg);
		 transform:rotate(360deg);}
}

@keyframes rotation {
	0% {
		 transform:rotate(0deg);
		 transform:rotate(0deg);
		 transform:rotate(0deg);}

	100% {
		 transform:rotate(360deg);
		 transform:rotate(360deg);
		 transform:rotate(360deg);}
}

@keyframes rotation {
	0% {
		 transform:rotate(0deg);
		 transform:rotate(0deg);
		 transform:rotate(0deg);}

	100% {
		 transform:rotate(360deg);
		 transform:rotate(360deg);
		 transform:rotate(360deg);}
}

@keyframes rotation {
	0% {
		 transform:rotate(0deg);
		 transform:rotate(0deg);
		 transform:rotate(0deg);}

	100% {
		 transform:rotate(720deg);
		 transform:rotate(360deg);
		 transform:rotate(360deg);}
}

.image1{
position: absolute;
top: 0;
left: 0;
}

.image2{
	position: absolute;
	top: 0;
	right: 0;
}

.image3{
	position: absolute;
bottom: 0;
left: 0;
}

.image4{
	position: absolute;
bottom: 0;
right: 0;
}

