.wrapper {
	display: grid;
	grid-template-columns: auto 1fr auto;
	background: none;
	width: 100%;
	z-index: 1;
	align-items: center;

}

.wrapper :nth-child(4){
	
}
	/* justify-self: end; */
	/* grid-column: 3/4; */
	





