
 #container {
	width: 600px;
 }
 
 .container h1 {
	margin: 0;
	letter-spacing: -2px;
 }
 
 .container p {
	font-size: .9rem;
	color: #666;
	line-height: 1.3rem;
	position: relative;
	top: .8rem;
	opacity: 0;
	animation: .5s swift-up ease-out forwards, .5s fade-in ease-out forwards;
	animation-delay: .8s;
 }
 
 @keyframes fade-in {
	to {
	  opacity: 1;
	}
 }
 
 .container span {
	display: inline-block;
	overflow: hidden;
	position: relative;
	top: .8rem;
	animation: .3s swift-up ease-in-out forwards;
 }
 
 .container i {
	font-style: normal;
	position: relative;
	top: 2rem;
	animation: .5s swift-up ease-in-out forwards;
 }
 
 @keyframes swift-up {
	to {
	  top: 0rem;
	}
 }
 
 .container span:nth-of-type(1) i {
	animation-delay: 0s;
 }
 
 .container span:nth-of-type(2) i {
	animation-delay: .1s;
 }
 
 .container span:nth-of-type(3) i {
	animation-delay: .2s;
 }
 
 .container span:nth-of-type(4) i {
	animation-delay: .3s;
 }
 
 .container span:nth-of-type(5) i {
	animation-delay: .4s;
 }
 
 .container span:nth-of-type(6) i {
	animation-delay: .5s;
 }
 
 .container span:nth-of-type(1) {
	animation-delay: 0s;
 }
 
 .container span:nth-of-type(2) {
	animation-delay: .1s;
 }
 
 .container span:nth-of-type(3) {
	animation-delay: .2s;
 }
 
 .container span:nth-of-type(4) {
	animation-delay: .3s;
 }
 
 .container span:nth-of-type(5) {
	animation-delay: .4s;
 }
 
 .container span:nth-of-type(6) {
	animation-delay: .5s;
 }
