.bg{
	position: absolute;

	/* transform: translateZ(0); */
	background: url('http://rsloboda-rt.ru/images/uploads/news/2019/10/9/e999fcab4eef1955984d8ec8948ffdfb.jpg');
	inset: 0;
	height: 100vh;
	width: 100%;
	object-fit: cover;
	filter: opacity(80%);
	z-index: -1;
box-shadow: 0 10px 19px 3px rgb(0 0 0 / 56%);
box-shadow: 0 10px 19px 3px rgb(0 0 0 / 56%);
}