.mainBlock{
	display:grid;
	width: 100%;
	max-width: 920px;
	height:calc(100vh - 54px);
	/* align-items: center; */
	text-align: center;
	padding-top: 250px;
	font-weight: 500;
}
/* @media (max-width:350px) {
	.mainBlock{
		max-width: 280px;
	}
} */