.mainBlock{
	display:grid;
	width: 100%;
	max-width: 920px;
	height:calc(100vh - 72px);
	height:100vh;

	/* align-items: center; */
	text-align: center ;
	padding-top: 250px;
	font-weight: 500;
	font-size: var(--title-fz);
}



 .active{
	 display: flex !important;
	 justify-content: center;
}

